.cabecalho {
    background-color: rgb(7, 63, 54) ;
    color:white;
    text-align: center;
    padding: 20px;

}

.hiperlinks a{
    text-decoration: none;
    color: white;
    padding: 10px;
}

footer {
    background-color: rgb(7, 63, 54);
    color:white;
    text-align: center;
    padding: 1px;
    position: absolute;
    bottom: 0;
    width: 99%;
}

table {
    margin: auto;
}

.center {
    text-align: center;
}

ul {
    list-style-position: inside;
    list-style-type: none;
    padding: 30px
}
